@model ASPFinal.Models.Contact

@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    @using (Html.BeginForm("Contact", "Home", FormMethod.Post))
    {
        <label for="fName">First Name</label>
        @Html.TextBoxFor(t => t.FirstName)
        <label for="lName">Last Name</label>
        @Html.TextBoxFor(t => t.LastName)
        <label for="email">Email</label>
        @Html.TextBoxFor(t => t.Email)
        <label for="message">Message</label>
        @Html.TextAreaFor(t => t.Message)
        <input type="submit" value="Send Message" />
    }
</div>